
canvas {
	border: 2px solid black;
	background-color: black;
}
video {
	display: none;
}
.slider {
	width: 500px;
}

.row {
	display: flex;
  }
  
  .column {
	flex-flow: row wrap;
	margin: 25px;  
	width: 500px;
}